@import '~highlight.js/scss/github.scss';

@mixin max-screen($resolution) {
  @media screen and (max-width: $resolution) {
    @content;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-content {
  // 768px for col-lg
  @include max-screen(768px) {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
